@import "../../variables";

.container {
}

.menu {
  display: flex;
  gap: 60px;
}

.menuItem {
  a {
    color: $BLACK;
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;
  }
}

.servicesMenu {
  display: flex;
  gap: 11px;
}
