@import "../../variables";

.container {
}

.menu {
  display: flex;
  gap: 60px;
}

.menuItem {
  a {
    color: $BLACK;
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;
  }
}

.servicesMenu {
  display: flex;
  gap: 11px;
}

.mobileContainer {
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 24px;
  margin-top: 80px;
}

.mobileMenuItem {
  a {
    color: $WHITE;
    font-size: 28px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
  }
}

@media (max-width: 1560px) {
  .container {
    order: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid $GRAY;
    padding: 24px 0;
  }
}
